.profile-button {
	display: flex;
	align-items: center;
	height: 64px;
	width: 90%;
	border-radius: 32px;
	align-self: center;
	transition: all 300ms ease;
	
	&:hover > .user-name {
		color: #000000;
	}
	
	span {
		transition: all 300ms ease;
		text-transform: uppercase;
		margin-left: 20px;
	}
}

